@model inSpark.Dtos.AdminDashboardViewModel
@using inSpark.Infrastructure.Services
@{
    ViewBag.Title = "Dashboard";
}

<div class="admin-page-con">
        <aside class="admin-aside">
            <div class="admin-aside-header">Dashboard</div>
            <div class="admin-aside-content">
                <div><a href="@Url.Action("GetJobs","Admin")"> <p>View Job Applications</p> <i class="fas fa-bacon"> </i></a></div>
                <div><a href="@Url.Action("CreateJob","Admin")"> <p>Add Job</p> <i class="fas fa-bacon"> </i></a></div>
                <div><a href="@Url.Action("LogOff","Account")"><p>Log Off</p></a></div>
            </div>
        </aside>
        <main class="admin-main">
            <div class="admin-main-header">
                <div class="admin-header-item">@DateTime.Now.ToString("D")</div>
                <div class="admin-header-item admin-header-id">Welcome, @Model.AdminMail </div>
            </div>
            <div class="admin-section p-top">
                <h2>Admin Dashboard</h2>
                <div class="admin-info">
                    <div class="admin-header-item">@DateTime.Now.ToString("D")</div>
                    <div class="admin-header-item admin-header-id">Welcome, @Model.AdminMail </div>
                </div>
                <div class="admin-stats-section">
                    <div class="admin-info-card">
                        <div class="admin-info-desc">
                            <p>Jobs </p>
                            <i class="fas fa-tools fa-2x"></i>
                        </div>
                        <p id="info-card-number">@Model.NoOfJobs</p>
                    </div>
                    <div class="admin-info-card">
                        <div class="admin-info-desc">
                            <p>Users </p>
                            <i class="fas fa-users fa-2x"></i>
                        </div>
                        <p id="info-card-number">@Model.NoOfApplicants</p>
                    </div>
                    <div class="admin-info-card">
                        <div class="admin-info-desc">
                            <p>Applications</p>
                            <i class="fas fa-user-clock fa-2x"></i>
                        </div>
                        <p id="info-card-number">@Model.NoOfApplications</p>
                    </div>
                    <div class="admin-info-card">
                        <div class="admin-info-desc">
                            <p>Rejected</p>
                            <i class="fas fa-times fa-2x"></i>
                        </div>

                        <p id="info-card-number">@Model.NoOfRejectedApplications </p>
                    </div>
                    <div class="admin-info-card">
                        <div class="admin-info-desc">
                            <p>Accepted</p>
                            <i class="fas fa-check fa-2x"></i>
                        </div>

                        <p id="info-card-number">@Model.NoOfAcceptedApplications </p>
                    </div>
                    <div class="admin-info-card">
                        <div class="admin-info-desc">
                            <p>Not Reviewed</p>
                            <i class="fas fa-cogs fa-2x"></i>
                        </div>

                        <p id="info-card-number">@Model.NoOfNotReviewedApplications </p>
                    </div>
                </div>

            </div>
        </main>
    </div>
   
    