@model inSpark.Dtos.ApplicantDetailsViewModel
@{
    ViewBag.Title = "ApplicantDetails";
    int age;
    DateTime birthDate= Convert.ToDateTime(@Model.Applicant.DateOfBirth);
    age = DateTime.Now.Year - birthDate.Year;
    if (DateTime.Now.DayOfYear < birthDate.DayOfYear)
    {
        age--;
    }
    int adminResponse1 = (int)inSpark.Infrastructure.Services.AdminApplicationResponse.Accepted;
    int adminResponse2 = (int)inSpark.Infrastructure.Services.AdminApplicationResponse.Rejected;
     
}

<h2 class="text-center">Applicant Details</h2>
<div id="applicant-details-section">
    <figure class="applicant-details-img">
        <img src="@Model.Applicant.ProfilePicturePath" alt="Profilepicture">
    </figure>
    <div class="applicant-details-info">
        <p><span>Name: </span>@Model.Applicant.FullName</p>
        <p><span>Age: </span> @age</p>
        <p><span>Gender: </span> @Model.Applicant.Gender</p>
        <p><span>Address: </span> @Model.Applicant.Address</p>
        <p><span>Email: </span> @Model.Applicant.Email</p>
        <p><span>Resume: </span><a href="@Model.Applicant.ResumePath" target="_blank"> View Applicant Resume</a></p>
    </div>
</div>
<div class="admin-response">
    @Html.ActionLink("Accept Applicant", "RespondToApplication", 
        "Admin", new { applicantId = Model.Applicant.Id, jobId = Model.JobId, adminResponse = adminResponse1 }, null)
    @Html.ActionLink("Reject Applicant", "RespondToApplication", 
     "Admin", new { applicantId = Model.Applicant.Id, jobId = Model.JobId, adminResponse = adminResponse2 }, 
        htmlAttributes: new { id = "decline-applicant" })
</div>

