@using inSpark.Infrastructure.Services
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/index.css")
    @Styles.Render("~/Content/css/career.css")
    @Styles.Render("~/Content/css/careerSmallScreen.css")
    @Styles.Render("~/Content/css/applicantDetails.css")
    @Styles.Render("~/Content/css/JobApplicantsList.css")
    @Styles.Render("~/Content/css/adminDashboard.css")
    @Styles.Render("~/Content/css/login.css")
    <script src="https://kit.fontawesome.com/6ab026fe75.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
    <script src="~/Content/js/index.js" defer></script>

</head>
<body>
    <div class="pg-container">
        <header id="top">
            <div id="mobile-nav">
                <figure class="logo-container">
                    <a href="@Url.Action("Index","Home")" id="logo"><img src="~/Content/images/logo.png" alt=""></a>
                </figure>
                <i id="show-nav" class="fas fa-bars  "></i>
                <i id="hide-nav" class="fas fa-times-circle  "></i>
            </div>
            <nav>
                <a href="#why" class="nav-link">About Us</a>
                <a href="#services" class="nav-link">Services</a>
                <a href="#approach" class="nav-link">Our Approach</a>
                <a href="#contact" class="nav-link">Contact Us</a>
                @Html.ActionLink("Jobs", "Index", "Jobs", null, htmlAttributes: new { @class = "nav-link" })
                @{
                    if (User.IsInRole(UserRoles.CanAddJobs))
                    {
                        <a href="@Url.Action("GetJobs","Admin")" class="link-hide">View applications</a>
                        <a href="@Url.Action("LogOff","Account")" class="link-hide">Logoff</a>
                    }
                }
            </nav>
        </header>

        <div class="page-body">
            @RenderBody()
        </div>
        <footer>
            <div class="ft-left">
                <a href="">Terms & Conditions</a>
                <a href="">Privacy policy</a>
            </div>
            <div class="ft-center"><p>&copy inSpark 2020</p></div>
            <div class="ft-right">
                <a href=""><img src="~/Content/images/facebook.svg"></a>
                <a href=""><img src="~/Content/images/Instagram.svg"></a>
                <a href=""><img src="~/Content/images/LinkedIn.svg"></a>
                <a href=""><img src="~/Content/images/Twitter.svg"></a>
            </div>
        </footer>

    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
