@using inSpark.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<section  class="login-form-con">
    <h2 class="text-center p-top">@ViewBag.Title.</h2>
    <p class="text-danger text-center">@ViewBag.Message</p>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form",id="login-form"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group w-100">
            @Html.LabelFor(m => m.Email, new { @class = "" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group w-100">
            @Html.LabelFor(m => m.Password, new { @class = "" })
            <div class="">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <div class="">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>
        <div class="form-group w-100">
                <input type="submit" value="Log in" class="btn btn-primary" />
        </div>
        <p class="">
            @Html.ActionLink("Register as a new user", "Register")
        </p>
        @* Enable this once you have account confirmation enabled for password reset functionality
        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>*@
    }
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}